﻿/* default trees on this sample */
.demo-control .wj-treeview {
    display: block;
    width: 80%;
    max-height: 300px;
    font-size: 120%;
    margin-bottom: 8px;
    padding: 6px;
    margin: 12pt;
    background: #f0f0f0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}