﻿.wj-control {
  width: 250px;
  margin-bottom: 12px;
}

.wj-clear-input .wj-input-group input.wj-form-control {
  padding-right: 2em;
}
.wj-clear-input:not(.wj-state-empty) input + .wj-input-group-btn:focus {
  outline: none;
}
.wj-clear-input:not(.wj-state-empty):hover input +.wj-input-group-btn:after {
  content: '\00d7';
  position: absolute;
  font-weight: bold;
  width: 1.5em;
  left: -1.5em;
  top: 50%;
  transform: translateY(-50%);   
  padding: .5em;
  cursor: pointer;
  color: darkred;
}