﻿@using C1.Web.Mvc
@using C1.Web.Mvc.Grid
@using SiriusMvc.Controllers
@model List<SiriusMvc.Controllers.Customer>

<div id="Zoran">


    <div class="collapsed-content collapse">
    </div>
    @(Html.C1().FlexGrid<Customer>()
                    .Id("fGRCView")
                    .AutoGenerateColumns(false)
                    .AllowSorting(true)
                    .CssClass("grid")
                    .ValidateEdits(true)
                    .PageSize(10)
                    .Columns(columns =>
                    {
                        columns.Add(column => column.Binding("Id").Width("80").MaxWidth(160).MinWidth(40));
                        columns.Add(column => column.Binding("Name").Width("2*").AllowResizing(false));
                    })
                    .AllowAddNew(true)
                    .AllowDelete(true)
                    .Bind(
                        ib => ib.Bind(Url.Action("GridReadCategory"))
                                    //Action Url for updating an item in the grid.
                                    .Update(Url.Action("GridUpdate"))
                                    // Action Url for adding a new item to the grid.
                                    .Create(Url.Action("GridCreate"))
                                    // Action Url for deleting an item from the grid.
                                    .Delete(Url.Action("GridDelete"))
                    )
                    .Width(700)
                    .Height(400)
    )
    <script type=text/JavaScript>
        var grid;
        c1.mvc.Utils.documentReady(function () {
            grid = wijmo.Control.getControl('#fGRCView');
            grid.itemValidator = function (row, col) {
                if (row > 0) {
                    var valThis = grid.getCellData(row, col, false),
                        valPrev = grid.getCellData(row - 1, col, false);
                    if (valThis != null && valThis == valPrev) {
                        return 'This is a duplicate value...'
                    }
                }
                return null; // no errors
            }
            gridCV = grid.collectionView;
            if (grid) {
                var host = grid.hostElement;
                //handle the keydown event
                host.addEventListener('keydown', function (e) {
                    if (e.key == "q" && e.ctrlKey) {
                        var row = grid.selection.row;
                        var column = grid.sel.col;
                        var d = grid.getCellData(row, 1);
                        grid.setCellData(0,0, 23);
                        console.log("Cell data copied from Country Column to Product Column in the current row");
                    }
                });
            }
        });


        //var view = new wijmo.collections.CollectionView(data, {
        //    getError: function (item, property) {
        //        switch (property) {
        //            case 'country':
        //                return countries.indexOf(item.country) < 0
        //                    ? 'Invalid Country'
        //                    : null;
        //            case 'downloads':
        //            case 'sales':
        //            case 'expenses':
        //                return item[property] < 0
        //                    ? 'Cannot be negative!'
        //                    : null;
        //            case 'active':
        //                return item.active && item.country.match(/US|UK/)
        //                    ? 'No active items allowed in the US or UK!'
        //                    : null;
        //        }
        //        return null;
        //    }
        //});
    </script>
    @*@(Html.C1().FlexGrid<Customer>()
                        .Id("editGrid")
                        .AutoGenerateColumns(false)
                        .PageSize(10)
                        .SelectionMode(C1.Web.Mvc.Grid.SelectionMode.Row)

                        .Bind(
                            ib => ib.Bind(Model)
                            //Action Url for updating an item in the grid.
                            .Update(Url.Action("GridUpdate"))
                            // Action Url for adding a new item to the grid.
                            .Create(Url.Action("GridCreate"))
                            // Action Url for deleting an item from the grid.
                            .Delete(Url.Action("GridDelete"))
                        ).Columns(columns =>
                            {
                                columns.Add(column => column.Binding("Id").Width("80").MaxWidth(160).MinWidth(40));
                                columns.Add(column => column.Binding("Name").Width("2*").AllowResizing(false));
                            })
                        .Bind(Model)
                        .AllowAddNew(true)
                        .AllowDelete(true)
                        .CssStyle("height", "400px")
        )*@
    @(Html.C1().Pager().Owner("fGRCView").Width(700))

    @*<script type="text/javascript">
            function batchUpdate() {
                var batchEditGrid = wijmo.Control.getControl('#batchEditGrid'),
                    cv = batchEditGrid.collectionView;
                cv.commit();
            }
        </script>
        <input type="button" value="Update" class="btn" onclick="batchUpdate()" />
        @(Html.C1().FlexGrid<Customer>()
                        .Id("batchEditGrid")
                        .Bind(ib => ib.BatchEdit(Url.Action("GridBatchEdit"))
                        .DisableServerRead(true)
                        .Bind(Model))
                        .Width(700)
                        .Height(500)
                        .AllowAddNew(true)
                        .AllowDelete(true)
                        .CssClass("grid")
        )*@

    @*@Html.C1().FlexGrid().Id("theGrid").Bind(Model).Columns(cs =>
        {
        cs.Add().Binding("Id").Header("ID");
        cs.Add().Binding("Name").Header("Name");
        })*@
    @*@(Html.C1().FlexGrid()
        .AllowSorting(false).AutoGenerateColumns(false).IsReadOnly(true).Height("800px").Id("flexgrid").Bind(Model))*@
</div>
@*<script>
        // This file locates: "Scripts/Lesson/C1FlexGrid/CustomEditing.js".
        c1.documentReady(function () {
            var theGrid = wijmo.Control.getControl('#theGrid');

            theGrid.beginningEdit.addHandler(function (s, e) {
                var col = s.columns[e.col];
                if (col.binding != 'Overdue') {
                    var item = s.rows[e.row].dataItem;
                    if (item.Overdue) { // prevent editing overdue items
                        e.cancel = true;
                        showMessage('Overdue items cannot be edited');
                    }
                }
            });
            theGrid.cellEditEnding.addHandler(function (s, e) {
                showMessage('&nbsp;');
                var col = s.columns[e.col];
                if (col.binding == 'Id' || col.binding == 'Name') {
                    var value = wijmo.changeType(s.activeEditor.value, wijmo.DataType.Number, col.format);
                    if (!wijmo.isNumber(value) || value < 0) { // prevent negative sales/expenses
                        e.cancel = true;
                        showMessage('Please enter a positive amount');
                    }
                }
            });

            // show log message
            var elLog = document.getElementById('log');
            function showMessage(msg) {
                elLog.innerHTML = msg;
            }
        });
    </script>*@
<a class="btn btn-success" href="~/Viewer/CrystalViewer.aspx">Show Report</a>