﻿.chart-holder {
  padding: 15px 10px;
  margin-bottom: 12px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
}
.wj-flexchart {
  height: 200px;
  border: none;
  padding: 0;
  margin: 0;
}
#theChartQty {
  height: 150px; 
}
