body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    background: #ffffff;
    color: #575757;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

    body a,
    body a:focus,
    body a:hover {
        text-decoration: none;
        outline: none;
    }

        body a:hover {
            color: #085fbd;
        }


*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

header, footer, nav, section {
    display: block;
}

@font-face {
    font-family: 'controls';
    src: url("../fonts/controls.woff");
    font-weight: normal;
    font-style: normal;
}

.icon-c1text {
    color: #3d3d3d;
    font-size: 33px;
    display: inline-block;
    vertical-align: middle;
}

    .icon-c1text:before {
        content: "\e616";
    }

[class^="icon-"], [class*=" icon-"] {
    font-family: 'controls';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.theme {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

a.theme-selector-link {
    width: 100%;
    display: inline-block;
    color: inherit;
}

a.culture-selector-link {
    width: 100%;
    display: inline-block;
    color: inherit;
}

.task-bar {
    background-color: #727272;
    color: #ffffff;
    height: 46px;
}

    .task-bar > span {
        font-size: 16pt;
        padding-left: 10px;
        display: inline-block;
        float: left;
        line-height: 46px;
    }

.bold {
    font-weight: bold;
}

.semi-bold {
    font-weight: 600;
}

.main-content {
    margin-top: 30px;
    margin-left: 10px;
    clear: left;
}

.description {
    font-size: 12pt;
    color: #717171;
    margin: 10px;
}


.control-group {
    color: #717171;
    font-size: 12pt;
}

    .control-group li a {
        color: #717171;
    }

        .control-group li a:hover {
            color: #085fbd;
        }

.first h3 {
    text-transform: uppercase;
}

h3.semi-bold {
    font-size: 14pt;
}

h4.semi-bold {
    font-size: 12pt;
}

.right-icon {
    border-left: 10px solid #000000;
    border-top: 10px solid #ffffff;
    border-bottom: 10px solid #ffffff;
    height: 0px;
}

.breadcrumb {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    height: 40px;
}

    .breadcrumb .right-icon {
        border-left-width: 20px;
        border-top-width: 20px;
        border-bottom-width: 20px;
    }

    .breadcrumb li {
        height: 40px;
        vertical-align: middle;
        padding-left: 3px;
        padding-right: 3px;
        float: left;
    }

    .breadcrumb > li + li:before {
        content: "";
        padding: 0px;
    }

    .breadcrumb li a, .breadcrumb li span {
        color: #3d3d3d;
        height: 40px;
        display: inline-block;
        padding-top: 10px;
    }

        .breadcrumb li a.glyphicon {
            top: 4px;
        }

    .breadcrumb .odd {
        background-color: #a2a3a2;
    }

    .breadcrumb .even {
        background-color: #cbcccb;
    }

    .breadcrumb .separator {
        border-left-color: #a2a3a2;
    }

    .breadcrumb .separator1 {
        border-left-color: #a2a3a2;
        border-top-color: #cbcccb;
        border-bottom-color: #cbcccb;
    }

    .breadcrumb .separator2 {
        border-left-color: #cbcccb;
        border-top-color: #a2a3a2;
        border-bottom-color: #a2a3a2;
    }

.side {
    clear: left;
}

.page-nav {
    border: none;
    border-radius: 0px;
}

    .page-nav.wj-content {
        background-color: #ffffff;
        background-image: none;
    }

    .page-nav a {
        color: #373737;
        width: 100%;
        display: inline-block;
    }

    .page-nav .right-icon {
        border-left-color: #a2a2a2;
        border-left-width: 12px;
        border-top-width: 12px;
        border-bottom-width: 12px;
        float: right;
        margin-top: -3px;
        visibility: hidden;
        height: 24px;
    }

    .page-nav .wj-listbox-item {
        padding-right: 0px;
        padding-bottom: 0px;
        height: 24px;
    }

        .page-nav .wj-listbox-item.wj-state-selected {
            background-color: #a2a2a2;
            font-weight: bolder;
        }

            .page-nav .wj-listbox-item.wj-state-selected .right-icon {
                visibility: visible;
            }

.page-content .main-content {
    width: 700px;
    float: right;
}

.page-content .control-page .main-content {
    width: 79%;
}

    .page-content .control-page .main-content .sample-title {
        color: #333333;
    }

.nav-tabs > li {
    cursor: pointer;
}

    .nav-tabs > li.active {
        border-bottom: 2px solid #428bca;
    }

    .nav-tabs > li > a {
        color: #555;
        margin-right: 2px;
        line-height: 1.42857143;
        border-radius: 0px;
    }

        .nav-tabs > li > a:hover {
            border-color: #eee #eee #ddd;
        }

    .nav-tabs > li > span {
        padding: 11px 15px 10px 15px;
        display: inline-block;
    }

        .nav-tabs > li > span:hover {
            background-color: #eee;
        }

.nav.nav-tabs > li.active > a,
.nav.nav-tabs > li.active > a:hover,
.nav.nav-tabs > li.active > a:focus {
    cursor: default;
    border-width: 0px;
}

.tab-content > .tab-pane {
    height: 0;
}

.tab-content > .active {
    height: auto;
}

.pane-content.active {
    padding: 10px 8px 18px 8px;
}

.pane-content {
    padding: 10px 8px 18px 8px;
    background-color: #fff;
    font-size: 15px;
    overflow: auto;
    padding: 0;
}

    .pane-content pre {
        font-family: "Segoe UI";
    }

.demo-settings {
    margin-bottom: 13px;
}

.demo-settings.row{
    margin-left:0px;
    margin-right:0px;
}

    .demo-settings label{
        display:inline-block;
        width:200px;
        text-align:right;
        padding-right:10px;
    }

.demo-description {
    margin-top: 13px;
}

    .demo-description p {
        color: #333333;
    }

    .demo-description ol,
    .demo-description ul {
        padding: 6px 20px;
    }

#controlsNav {
    overflow: auto;
    padding-left: 5px;
    height: 400px;
    background-color: #ffffff;
    border: 1px solid #717171;
    border-radius: 4px;
}

footer {
    margin-top: 20px;
    float: right;
    font-size: 7pt;
    max-width: 300px;
    clear: left;
}

.grid {
    height: 500px;
    border: 2px solid #e0e0e0;
}

.btn {
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 4px;
}

.icon-bars:before {
    content: "\f0c9";
}

.chart-tip td {
  text-align: right;
}
.chart-tip td:first-child {
   font-weight: bold;
   padding-right: 12px;
}

.wj-control label {
    display: inline-block;
    padding: 0px;
}

@media only screen and (max-width: 991px) {
    .main-content {
        margin: 0px;
    }

    .features-bar {
        background-color: #a2a3a2;
        color: #ffffff;
        height: 34px;
        margin-top: 2px;
        font-size: 12pt;
    }

        .features-bar > span {
            width: 100%;
            display: inline-block;
            padding-top: 3px;
            padding-left: 10px;
        }

    .features-nav li {
        height: 30px;
        font-size: 11pt;
        padding-top: 3px;
    }

    .hamburger-nav-btn {
        float: left;
        font-size: 15pt;
        height: 51px;
        width: 23%;
        padding: 15px;
        display: inline-block;
    }

    .task-bar-nav {
        background-color: #727272;
        color: #ffffff;
    }

        .task-bar-nav li {
            border-color: #eee;
        }

        .task-bar-nav h3 {
            font-weight: normal;
            margin-top: 5px;
            background-color: #727272;
            color: #ffffff;
        }

        .task-bar-nav a:hover {
            color: #ffffff;
            border-color: #ffffff;
        }

    .task-bar > span, .logo-container {
        text-align: center;
        white-space: nowrap;
    }

    .task-bar > span {
        width: 100%;
        text-align: left;
    }

    .logo-container {
        width: 54%;
    }

    .wide-screen {
        display: none !important;
    }

    .task-bar .site-nav {
        display: none;
    }

    body > ul {
        display: inline-block;
        float: right;
        margin-right: 10px;
        width: 100%;
        background-color: white;
        border-bottom: 1px solid #717171;
        border-left: 1px solid #717171;
        border-right: 1px solid #717171;
    }

        body > ul li {
            height: 50px;
            padding-left: 30px;
            border-top: 1px solid #717171;
            padding-top: 12px;
            font-size: 14pt;
            cursor: pointer;
        }

            body > ul li a {
                display: inline-block;
                width: 100%;
                color: inherit;
            }

    .controls-nav {
        border-left: 1px solid #717171;
        border-right: 1px solid #717171;
        border-top: 1px solid #717171;
        margin: 10px;
    }

        .controls-nav h3.semi-bold {
            border-bottom: 1px solid #717171;
            margin: 0px;
            padding: 5px;
            font-weight: normal;
            font-size: 12pt;
            background-color: #eee;
        }

        .controls-nav ul li {
            border-bottom: 1px solid #717171;
            padding-left: 30px;
            padding-top: 5px;
            padding-bottom: 5px;
        }


    .features-nav a:hover {
        color: #ffffff;
    }

    .features-nav li {
        border-color: #ffffff;
    }
    
    .features-nav{
        border-color: #ffffff;
    }

    footer {
        float: left;
        font-size: 7pt;
        max-width: 500px;
        clear: right;
        margin-left: 5px;
    }

    .task-bar .wj-glyph-down, .features-bar .wj-glyph-down {
        opacity: 1;
    }
}

@media only screen and (min-width: 992px) {
    .narrow-screen {
        display: none !important;
    }

    .task-bar .site-nav {
        display: inline-block;
        float: right;
        margin-right: 10px;
        margin-bottom: 0px;
    }

        .task-bar .site-nav li {
            list-style: none;
            display: inline-block;
            padding-right: 20px;
            padding-left: 20px;
            font-size: 14pt;
            height: 46px;
            vertical-align: middle;
        }

            .task-bar .site-nav li:hover {
                background-color: #cbcccb;
            }

            .task-bar .site-nav li a {
                color: #ffffff;
                display: inline-block;
                padding: 8px;
            }

            .task-bar .site-nav li.bold {
                background-color: #faab18;
            }

                .task-bar .site-nav li.bold:hover {
                    background-color: #fddca0;
                }
}
