﻿<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/BootStrapCss")
    @{
        Theme.CurrentTheme = Request.QueryString["theme"];
    }
    @Html.C1().Styles().Theme(Theme.CurrentTheme)
    @Styles.Render("~/Content/css/explorer")
    @Styles.Render("~/Content/appcss")
    @Styles.Render("~/Content/SyntaxHighlighter/codeHighlight")
    @RenderSection("Styles", false)

    @{
        SiriusMvc.Models.Culture.CurrentCulture = Request.QueryString["culture"];
    }
    @Html.C1().Scripts().Basic().Culture(SiriusMvc.Models.Culture.CurrentCulture)
    @Scripts.Render("~/bundles/SyntaxHighlighter/codeHighlight")
    @Scripts.Render("~/bundles/sample")
    @RenderSection("Scripts", false)

</head>
<body>
    @RenderBody()
</body>
</html>